/* div {

    display:inline-block;

  }








.box1 {
	
	text-align:center;
	
	border-radius: 50px;

    position:relative;

    top:30pt;

    left:0px;

    width:800px;

    height:1000px;

    font-size: 15pt;

    font-weight: normal;


    



}



.box1 .box2 {

    position:absolute;

    top:100pt;

    left:0px;

    width:500px;

    height:700px;

    font-size: 15pt;

    font-weight:lighter;

    background-color:white;

    padding:20px;

    margin:20px;



    

}



body {

    text-align:center;

}





.image{

    border-radius: 35%;

} */

body{
    background-color: #EFE7E3;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}
.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 100px 100px;
}


#profile-picture{
    width: 400px;
    margin-right: 60px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin-bottom: 40px;
}

#capability{   
    font-weight: 400;
    font-size: 20px;
    font-style: italic;

    line-height: 30px;
}
#contact{   
    font-weight: 400;
    font-size: 20px;
    font-style: italic;

    line-height: 30px;
}